@media (max-width: 481px) {
header{
    display:flex;
    flex-direction: column;
}
  .hamburguer{
    visibility: visible;
    font-size:3em;
    width:100%;
    padding: 0px;
    margin:-10px;
}

.activeBurger{
    position: relative;
    bottom: 10vw;
    left: 40vw;
    
    margin: -0.8em;
    padding: 0;
    max-width: 1em;
    display: inline;
}

.linkHidden{
    visibility: collapse;
    transition: ease-in;

}

.linkShow{
    display:block;
    visibility: visible;

    transform: translateY(0);
}

nav:has(> .linkShow){
flex-direction: column;
}
}