:root{
    /*COOLORS*/
    --giants-orange: #fe5d26ff;
    --earth-yellow: #f2c078ff;
    --dutch-white: #faedcaff;
    --tea-green: #c1dbb3ff;
    --emerald: #7ebc89ff;
    --vivid-emerald: rgb(56, 163, 76);
}

/*HEADING*/
header{

    width: 100%;
    display:flex;
    background-color:var(--earth-yellow)
}

.logo{
    display:flex;
    align-items: center;
    padding: 0.5em;

    cursor:pointer;
}

#name:hover, .logo img:hover{
    filter:brightness(1.2);
    transition: 0.1s;
}

.logo img{
    padding:5px;
}
.logo h2{
    color: var(--vivid-emerald);

}
.logo strong{
    font-size: 1em;
    color: grey;
}

/*NAVBAR*/
.navbar {
    background-color: var(--formal-black);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items:center;

    transition: max-height 0.4s ease-in-out, opacity 0.4s ease, transform 0.4s ease;
}


.navbar a {
    text-decoration: none;
    color: rgb(65, 62, 62);

    padding:1em;
    text-align:center;
    text-justify:distribute;
    width:100%;

    justify-self: center;
    align-self: center;

    transition: max-height 0.4s ease-in-out;
}


.navbar a:hover{
    background-color: var(--giants-orange);
    transition: 0.4s;
}

.navbar a:active{
    cursor: grabbing;

}

.hamburguer{
    visibility:collapse;
    user-select:none;
    cursor: pointer;
}

.navbar h1{
    padding:0 1rem;
}

/*BANNER*/
.banner{
    position:relative;
    width:95%;
    margin: 1.3% 2.5%;
    height:25em;
    overflow: hidden;

    display:flex;
    justify-content: center;
    align-items: center;
    
}

.banner img{
    top:0px;
    display:block;
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    z-index: 1;
}

.banner button{
    position: absolute;
    top: 70%;

    font-size:1.2em;
    width:200px;
    
    background-color: var(--vivid-emerald);
    border: none;
    box-shadow: 1px 1px gray;

    cursor:pointer;

    z-index: 2;
}

.banner h1{
    position: absolute;
    top:20%;

    font-size: 3.5em;
    color:white;
    filter:drop-shadow(0px 0px 5px black);

    z-index:1;
}

.banner button:hover{
    filter: brightness(1.1);
}

.banner button:active{
    filter:brightness(0.8);
    border:1px solid gray;
}



