:root{
    --t-beige:#ddb99c;
    --t-melon:#f0a845;
    --t-orange:#f1a01c;
    --african:#875051;
    --t-green:#c2af36;

    background-color: var(--t-beige);
}

p, em, strong, i, button, pre, span, footer{
    font-family: "Lora", serif;
}

main{
    margin: 4% 7%;
}

.site_name{
    color:white;
}

.business_container{
    margin: 4% 7%;
    gap: 1%;
}

header{
    background-color:var(--african);
    display:grid;
    grid-template:1fr / 1fr 3fr;

    align-items: center;
}

picture{
    overflow: hidden;
}
#hero_image{
    align-self: center;
    width: 100%;
    height:250px;
    object-fit:cover;

}

/*Header*/
.navbar {
    background-color: var(--formal-black);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.navbar a {
    text-decoration: none;
    color: inherit;

    padding:1px;
    text-align:center;
    flex: 1;
    height:100%;
    width:100%;
}


.navbar a:hover{
    background-color:#555;
}

.navbar a:active{
    cursor: grabbing;

}

.hamburguer{
    visibility:collapse;
    user-select:none;
    cursor: pointer;
}

.navbar h1{
    padding:0 1rem;
}


/*Cards*/
.w_card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    background-color: var(--t-green);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.w_card h2{
    padding:0.2em;
    color: white;
}

.w_card div{
    background-color: white;
    max-height: 100%;
    flex: 1;
}

.w_card div p{
    padding:1em;
    display: flex;
}
.w_card h2{
   color: #edfcff;
   top:0;
   border-radius:5px;
   font-size: 24px;
   text-align: center;

}

.w_card p {
   color:#333333; 
   font-size:18px; 
}
.w_card img{
    max-width:150px;
}

.w_card ul{
    flex: 1;
}


/*FOOTER*/
footer{
    background-color: var(--african);
    margin:auto;
}
