@media (max-width: 481px) {
        header{
        display:grid;
        grid-template:1fr / 4fr 1fr;
    }
      .hamburguer{
        visibility: visible;
        font-size:3em;
        padding: 0px;
        margin:-10px;
    }

    .activeBurger{
        position: relative;
        bottom: 10vw;
        left: 40vw;
        
        margin: -0.8em;
        padding: 0;
        max-width: 1em;
        display: inline;
    }

    .linkHidden{
        visibility: collapse;

    }

    .linkShow{
        display:block;
        visibility: visible;

    }

    nav:has(> .linkShow){
    flex-direction: column;
    }
  }