:root{
    --t-beige:#ddb99c;
    --t-melon:#f0a845;
    --t-orange:#f1a01c;
    --african:#875051;
    --t-green:#c2af36;

    background-color: var(--t-beige);
}

p, em, strong, i, button, pre, span, footer{
    font-family: "Lora", serif;
}

.navbar {
    background-color: var(--formal-black);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.navbar a {
    text-decoration: none;
    color: inherit;

    padding:1px;
    text-align:center;
    flex: 1;
    height:100%;
    width:100%;
}


.navbar a:hover{
    background-color:#555;
}

.navbar a:active{
    cursor: grabbing;

}
