.course-card {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.course-card.completed {
    background-color: #e0ffe0; /* Light green background for completed courses */
}

#courseContainer {
    padding: 10px;
    display: flex;
    flex-direction: row; 
}

#courseContainer .course-card {
    height: 100%;
    margin: 10px;
}

button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}