@media (max-width: 481px) {
    main{
        display: grid;
        grid-template: auto / 1fr;
        gap: 5%;
    }

    .hamburguer{
        visibility: visible;
        font-size:3em;
        padding: 0px;
        margin-left:30%;
    }

    .linkHidden{
        visibility: collapse;

    }

    .linkShow{
        visibility: visible;

    }

    nav ul:has(> .linkShow){
    flex-direction: column;
    }

    #courseContainer {
    padding: 5px;
    display: grid;
    grid-template: 1fr / auto;
}
}